.about-main-container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-aux-container{
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: row;

    /* Glass effect  rgba(255, 255, 255, 0.06)*/
    background: linear-gradient(
        to right top,
        rgba(0, 0, 0, 0.65),
        rgba(255, 255, 255, 0.05)
    );

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    /* Separación del fondo */
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;

    /* Profundidad */
    box-shadow:
        0 8px 30px rgba(52, 52, 52, 0.6);

    color: #e5e5e5
}

#about-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 275;
    padding-left: 1em;
}

#about-img-container{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}
#description{
    align-items: flex-start;
}