.about-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 50vw;
    border: solid red 1px;
}
.about-img-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}