.about-main-container{
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
}
.about-main-container h1{
    grid-column: 1/ 3;
    grid-row: 1/ 2 ;
    border-bottom: solid antiquewhite 1px;
}
.about-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.about-content-div > ul{
    list-style: none;
}
#about-img-container{
    width: 100%;
    align-items: center;
    padding-left: 2rem;
}
#description{
    align-items: flex-start;
    padding-right: 2rem;
}