.about-main-container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-aux-container{
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    border: dotted red 1px;
}

#about-content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 275;
}

#about-img-container{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    border: 1px red dotted;
}
#description{
    align-items: flex-start;
    padding-right: 2rem;
    border: 1px red dotted;
    
}