

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #0F2027;  /* fallback for old browsers */
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    background: -webkit-linear-gradient(to top, #4e2a67, #261e64, #0f1227);  /* Chrome 10-25, Safari 5.1-6 */
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    /*background-image: linear-gradient(to top, #09203f 0%, #01080e 100%);*/
}
