

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343,2f2832, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343,#2f2832, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    color: antiquewhite;
    overflow-y: hidden;
    /*background-image: linear-gradient(to top, #09203f 0%, #01080e 100%);*/
}
