.carousel-container {
   width: 100vw;
  height: 100vh;

  overflow-x: scroll;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-track {
  display: flex;
  width: 300vw;
  height: 100%;
}

.carousel-slide {
  width: 100vw;
  height: 100vh;

  flex-shrink: 0;
  scroll-snap-align: start;
}