.carousel-container {
  width: 100vw;

  overflow-x: scroll;
  overflow-y: unset;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
    /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-track {
  display: flex;
  width: 300vw;
  height: 100%;
}

.carousel-slide {
  width: 100vw;

  flex-shrink: 0;
  scroll-snap-align: start;
}