.carousel-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: 300vw; /* 3 secciones */
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}
