.carousel-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 300vw;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.carousel-slide {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}
