.Header{
    width: 100vw;
    height: 20vh;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
}
.header-text{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;
}