

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
.header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}


.nav {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  width: 100%;
}


.nav-item {
  all: unset;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: aliceblue;
  text-align: center;
  transition: color 0.25s ease, text-shadow 0.25s ease;
}

.nav-glow {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 30vw;
  height: 4px;
  background: #8fa7ff;
  border-radius: 999px;
  pointer-events: none;

  box-shadow:
    0 0 8px rgba(140, 170, 255, 0.9),
    0 0 18px rgba(140, 170, 255, 0.6),
    0 0 36px rgba(140, 170, 255, 0.4);

  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.nav-item:hover {
  color: #ffffff;
  text-shadow:
    0 0 4px rgba(130, 160, 255, 0.6),
    0 0 10px rgba(130, 160, 255, 0.4);
}

.header-glow {
  position: absolute;
  bottom: -6px;
  left: 0;

  height: 3px;
  width: 80px;

  background: cyan;
  border-radius: 999px;

  filter: blur(6px);
}
