.header{
    width: 100vw;
    height: 20vh;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3em;
    font-size: larger;
    font-weight: 200;
}

