.profile-image{
    display: flex;
    width: 12vw;
    height:12vw;
    object-fit: cover;
    box-shadow: 1px 10px 24px 8px rgba(0,0,0,0.79);
    -webkit-box-shadow: 1px 10px 24px 8px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 10px 24px 8px rgba(0,0,0,0.79);
    border-radius: 50%;
}
