.profileImg{
    display: flex;
    width: 12vw;
    mim-width: 10vw;
    height:12vw;
    mim-height: 10vw;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}
