.profileImg{
    display: block;
    width: 15vw;
    max-width: 17vw;
    height:15vw;
    max-height: 17vw;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}
