.project-card {
  width: 25vw;
  height: 35vh;
  perspective: 1000px;
  cursor: pointer;
  text-decoration: none;

}

.project-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
}

.project-card-front,
.project-card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-front {
  background: #0b0b0b;
  color: white;
  padding: 1.2rem;
}

.project-card-back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}
.title{
  position:relative;
  display: inline-block;
}
.title::after{
  content:"";
  position:absolute;
  left: 0;
  bottom:-2px;
  width: 100%;
  height: 2px;

  background-color: currentColor;
  opacity: 0.8;

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 250ms ease-out;
}
.project-card:hover .title::after {
  transform: scaleX(1);
  box-shadow: 0 0 6px currentColor;

}

.project-description{
  font-weight: 400 ;
  text-align: center;
  margin-top: 1rem;
}