.projects-main-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
    border: solid antiquewhite 1px;
    border-radius: 10px;
}
.project-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}
h2{
    border-bottom: solid whitesmoke 1px;
}