.project-card {
  width: 25vw;
  height: 35vh;
  perspective: 1000px;
  cursor: pointer;
}

.project-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
}

.project-card-front,
.project-card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-front {
  background: #0b0b0b;
  color: white;
  padding: 1.2rem;
}

.project-card-back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}

.project-description{
  font-weight: 400 ;
  text-align: center;
  margin-top: 1rem;
}