.project-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30vh;
    width: 35vw;
    border: solid aliceblue 1px;
    border-radius: 15px;
    box-shadow: -9px 9px 10px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 9px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 10px 1px rgba(0,0,0,0.75);
}
.project-card > *{
    display: flex;
}
.title{
    margin-top: 1em;
    justify-content: center;
}
.project-description{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    font-size: 1.2em;
    font-weight: 200;
}
.project-card-body {
  flex: 1;             
  display: flex;
  justify-content: center;
  align-items: center;    
}
.project-card-img{
     display: flex;
    width: 12vw;
    height:12vw;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}