.projects-main-container{
    padding: 1rem;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
    border: solid antiquewhite 1px;
    border-radius: 10px;
}

