.underglow-container{
  width: 100vw;
  border: solid red 1px;
  overflow-x: hidden;
  overflow-y: unset;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
    /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;

  height: 20px;
  width: 30%;
  background-color: aqua; 

  flex-shrink: 0;
  scroll-snap-align: start;
}
#underline {
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(0,255,255,0.2),
    rgba(197, 255, 255, 0.9),
    rgba(0,255,255,0.2)
  );
  box-shadow:
    0 0 8px rgba(163, 255, 255, 0.6),
    0 0 16px rgba(5, 122, 232, 0.494);
  border-radius: 2px;
  pointer-events: none;
}


