.underglow-container{
  width: 100vw;
  border: solid red 1px;
  overflow-x: scroll;
  overflow-y: unset;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
    /* Firefox */
  scrollbar-width: none;

  /* IE / Edge legacy */
  -ms-overflow-style: none;
}

.underglow-track{
  display: flex;
  width: 100vw;
  height: 100%;
  border: solid palevioletred 1px;
  flex: 1;
}
.underglow{
  height: 10px;
  width: 10px;
  background-color: aqua; 

  flex-shrink: 0;
  scroll-snap-align: start;
}